@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #202123;
  padding: 5px 0 12px;
  font-family: "Open Sans", sans-serif;
  scrollbar-width: thin; /* For Firefox */
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
body::selection {
  background-color: yellow;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  overflow-y: auto;
  justify-content: space-between;
}
.container{
  /* max-width: 1140px; */
  flex: 1;
  width: 100%;
  margin: 0 auto 1%;
}
header, form{
  width: 99%;
  max-width: 800px;
  margin: 0 auto;
}
header{
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
.header{
  display: flex;
  justify-content: left;
  gap: 4px;
}
@media (max-width: 768px){
  .font-adjust{
    display: flex;
    flex-direction: column;
  }
}

button#increase-font-size,
button#decrease-font-size{
  /* min-width: fit-content!important; */
  min-width: 80px!important;
  /* padding: 9px 12px!important; */
}
form{
  display: none;
  flex-direction: column;
}
.toggleForm{
  display: flex;
}
input, textarea{
  font-family: "Open Sans", sans-serif;
  padding: 10px; 
  font-size: 24px;
}
button#add{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
button{
  cursor: pointer;
}
/* add note / open form button */
.btn-new{
  background-color: #b353fc;
  color: white;
}
/* delete all button */
.btn-delete{
  background-color: #e8665a;
  color: #fff;
}
/* add new note submit*/
.btn-add-note{
  background-color: #84edb2;
  color: black;
  font-weight: bold;
}
/* submit edit button */
.btn-edit-note{
  background-color: #84edb2;
  color: white;
}
/* fix IOS rounding issue */
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
button:disabled, button[disabled]{
  background-color: red;
}
input, button{
  margin: 0 0 4px;
  border: 0px solid transparent;
}
input:focus, textarea:focus {
  outline: none;
}
textarea::placeholder, input::placeholder, textarea:focus::placeholder, input:focus::placeholder {
  color: #ccc;
}
textarea {
  height: 200px;
  border: 0px solid transparent;
}
#root{
  display: flex;
  flex-wrap: wrap;
}
/* NOTE */
.group{
  position: relative;
  /* background-color: #FEFD00; */
  background-color: #fffaaf;
  /* background-color: #fffae6; */
  width: fit-content;
  padding: 24px;
  margin: 4px;
  border-radius: 10px; /* 40px */
  border: 1px solid #ffaaaf;
}
.title, .content{
  font-size: 36px;
  /* line-height: 3.7rem; */
}
.title{
  margin-top: 6px;
  font-weight: bold;
}
.content{
  margin-bottom: 10px;
}
.note-edit{
  position: absolute;
  top: -1px;
  padding-top: 2px;
  left: -1px;
  min-width: fit-content!important;
  padding: 4px!important;
  border-top-left-radius: 5px;
  font-size: .7rem;
  font-weight: bold;
  letter-spacing: 1px;
  /* background-color: #f7f7f7; */
  background-color: #84edb2;
  color: white;
}
.note-delete{
  position: absolute;
  bottom: -5px;
  right: -1px;
  min-width: fit-content!important;
  padding: 4px!important;
  border-bottom-right-radius: 5px;
  font-size: .7rem;
  font-weight: bold;
  letter-spacing: 1px;
  /* background-color: #f7f7f7; */
  background-color: #e8665a;
  color: white;
}

.note-item {
  display: block; /* Show the modal for the clicked note */
}

.modal {
  display: none; /* Initially hide the modal */
  /* Add other styles for the modal container */
}

.modal-textarea {
  /* Add styles for the textarea element */
  width: 100%;
}

.modal-submit {
  margin-top: 5px;
}

/* 
.modal-content {  
}

.modal-close {

}

.modal-title {
}
 */

.github {
  align-self: center;
  margin: 40px 0 80px;
}
.github img{
  filter: invert();
  width: 35px;
  height: auto;
}

@media (min-width: 769px){
  .github {
    margin: 40px 0px 0px;
  }
}
